.profile-header-container{
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
}

.profile-info{
    width: 40%;
    height: 300px;
    border: 1px solid black;
}

.profile-header{
    width: 100%;
    height: 45vh;
    background-color: rgba(0, 195, 255, 0.247);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

.profile-image{
    width: 20%;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    background-position: center;
}