// css reset
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.okta-form-container{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.okta-form{
    text-align: center;
    width: 30%;
    display: flex;
    flex-direction: column;
    Button{
        width: 100%;
    }
    h1{
        margin-bottom: 2rem;
    }
}

.container{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@import './guest-notes';
@import './flag-guest';
@import './user-profile';
@import './guest-table';
@import './sidebar';
@import './navbar';
@import './analytics';