// css reset
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

@import './guest-notes';
@import './flag-guest';
@import './user-profile';
@import './guest-table';
@import './sidebar';
@import './navbar';